#box-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfbfb;
}

#box-page h1 {
  font-family: Arial, sans-serif;
  padding: 20px;
  font-size: 60px;
  color: #065435;
}

#button-back {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: #065435;
  color: white;
  transition: 0.3s;
}

#button-back:hover {
  background-color: #002215;
}
