
#conteiner{
    width: 383px;
    height: 459px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.box-input{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #065435;
    width: 300px;
    margin-top: 20px;
}

.box-input input{
    background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #224C3B;
    font-weight: 700;
}

.box-input input::placeholder{
    color: #224C3B;
    opacity: 0.7;
}

#button{
    width: 230px;
    height: 52px;
    color: white;
    margin-top: 20px;
    border-radius: 50px;
    background-color: #065435;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: 0.3s;
}

#button:hover{
    color: white;
    background-color: #002215;
}

p{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #002215;
}


span{
    color: #00321E;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

span:hover{
    color: #007445;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}